[data-theme="dark"] {
  --button-normal: #e1e8f5;
  --button-normal-hover: #a6bbdf;
  --modal: #a3aec0; 
}
[data-theme="light"] {
  --button-normal: #6495ed;
  --button-normal-hover: #3674e7; 
  --modal: #f3f6fb;
}

:root {
  --button-normal: #6495ed;
  --button-normal-hover: #3674e7;
  --modal: #f3f6fb;  
}

button {
  padding: 15px 10px;
  border: none;
  border-radius: 20px;
  margin: 5px;
  background-color: var(--button-normal);
  transition: 0.25s;
}
button:hover {
  padding: 15px 10px;
  border: none;
  border-radius: 20px;
  margin: 5px;
  background-color: var(--button-normal-hover);
  color: white;
  transition: 0.25s;
}

.inputOptions {
  border: 1px #6495ed solid;
  border-radius: 10px;
  padding: 15px 10px;
  margin-bottom: 15px;
}

input[type="file"]::file-selector-button {
  border-radius: 10px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: #d1dffa;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
  border: none;
  margin-left: 25px;
  margin-bottom: 15px;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #6495ed;
  color: white;
}

.TopBar {
  display: flex;
  justify-content: space-between;
}
.TopBarForm {
  display: flex;
  justify-content: right;
  background-color: var(--modal);
}

select {
  background-color: #d1dffa;
  border-radius: 10px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  border: none;
  margin-bottom: 15px;
  transition: background-color 200ms;
}

select:hover {
  background-color: #6495ed;
  border-radius: 10px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  border: none;
  margin-bottom: 15px;
  color: white;
}

.xButton {
  color: lightgray;
  background-color: white;
  transition: 0s;
  background-color: var(--modal);
}

.xButton:hover {
  color: #3674e7;
  background-color: white;
  transition: 0s;
  background-color: var(--modal);
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: var(--modal);
  border: none;
  padding-bottom: 40px;
}

.popup-content {
  background: none !important;
  border: none !important;
}