.post-box {
  position: relative;
  border: solid 1.5px #6495ed;
  border-radius: 7px;
  padding: 20px 30px;
  text-align: center;
  width: min-content;
  height: min-content;
  margin-bottom: 15px;
  display: inline-block;
  background-color: white;
}

.post-box:hover .description {
  opacity: 1;
}

img {
  width: 190px;
  display: block;
}

@media screen and (max-width: 1096px) {
  .post-box {
    width: min-content;
  }
  img {
    width: 130px;
  }
}

@media screen and (max-width: 1300px) {
  .post-box {
    width: min-content;
  }
  img {
    width: 155px;
  }
}

@media screen and (max-width: 1250px) {
  .post-box {
    width: min-content;
  }
  img {
    width: 150px;
  }
}


@media screen and (max-width: 1200px) {
  .post-box {
    width: min-content;
  }
  img {
    width: 145px;
  }
}

@media screen and (max-width: 1130px) {
  .post-box {
    width: min-content;
  }
  img {
    width: 147px;
  }
}

@media screen and (max-width: 950px){
  .post-box {
    width: min-content;
  }
  img {
    width: 110px;
  }
}

@media screen and (max-width: 900px){
  .post-box {
    width: min-content;
  }
  img {
    width: 100px;
  }
}

/* @media screen and (max-width: 800px){
  .post-box {
    width: min-content;
  }
  img {
    width: 134px;
  }
} */

/* @media screen and (max-width: 700px){
  .post-box {
    width: min-content;
  }
  img {
    width: 110px;
  }
} */

@media screen and (max-width: 850px){
  .post-box{
    padding: 10px 10px;
  }
  img {
    width: 140px;
  }
}

@media screen and (max-width: 800px){
  .post-box{
    padding: 10px 10px;
  }
  img {
    width: 130px;
  }
}

@media screen and (max-width: 600px){
  .post-box{
    padding: 10px 10px;
  }
  img {
    width: 185px;
  }
}

@media screen and (max-width: 500px) {
  img {
    width: 325px;
  }
}

.description {
  transition: .15s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  background: #6495ed;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}
