body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: #F0F8FF;
}

.postContainerDiv {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row; */
  column-count: 4;
  width: 82%;
}

.topBarSideDiv {
  display: flex;
  flex-direction: row;
}

.outerDiv {
  justify-content: center;
  align-items: center;
  display: flex;
}

.TopBar {
  display: flex;
  justify-content: space-between;
}

.snippetsLogo {
  margin-left: 15px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #6495ed;
  font-size: x-large;
}

@media screen and (max-width: 700px){
  .postContainerDiv {
    column-count: 3;
  }
}

@media screen and (max-width: 600px){
  .postContainerDiv {
    column-count: 2;
  }
}

@media screen and (max-width: 500px){
  .postContainerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.modal {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
}